html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/1 "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  color: #666;
  text-decoration: none;
}
a:visited {
  color: #666;
}
a:hover,
a:active,
a:focus {
  color: #ff8400;
  text-decoration: none;
}
body {
  font-family: "微软雅黑";
  background: #f9f9f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
section,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  box-sizing: border-box;
}
em,
i {
  font-style: normal;
}
.header {
  height: 0.92rem;
  background-color: #fa3432;
  color: #fff;
  font-size: 0.28rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.header .iconfont {
  font-size: 0.28rem;
  color: #fff;
}
.conter .con {
  padding-left: 0.3rem;
  margin-top: 0.15rem;
  margin-bottom: 0.27rem;
  font-size: 0.25rem;
  display: flex;
  flex: 0 1 0;
  align-items: center;
}
.conter .con .icon-bgc {
  background-color: #fa9a33;
  color: #fff;
}
.conter .con .icon-r {
  color: #fa9a33;
}
.conter .mro {
  margin-right: auto;
  color: #4c4b4b;
}
.conter .iconfont {
  font-size: 0.35rem;
  width: 0.58rem;
  height: 0.58rem;
  text-align: center;
  line-height: 0.58rem;
  border-radius: 30%;
  margin-right: 0.21rem;
}
.conter .service {
  height: 1.28rem;
  margin-top: 0.37rem;
  padding-left: 0.3rem;
  display: flex;
  align-items: center;
  line-height: 0.3rem;
  background-color: #fff;
}
.conter .service .iconfont {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.56rem;
  background-color: #22cfd8;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  margin-right: 0.28rem;
}
.conter .service .hotphone {
  font-size: 0.24rem;
}
.conter .service .hotphone span {
  color: #06a2ce;
}
.conter .service .time {
  font-size: 0.2rem;
  color: #949292;
}
.footer {
  border-top: 2px solid #ededec;
  background-color: #fff;
  margin-top: 0.23rem;
  height: 1.65rem;
}
.footer .links {
  padding-top: 0.45rem;
  display: flex;
  justify-content: center;
  font-size: 0.28rem;
  color: #494848;
}
.footer .copyright {
  margin-top: 0.22rem;
  display: flex;
  justify-content: center;
  font-size: 0.26rem;
  color: #9a9b9c;
}
.zhezhao {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.zhezhao .memu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.92rem;
  height: 1.5rem;
  font-size: 0.7rem;
  color: #f00;
  background-color: #fff;
}
.zhezhao .memu a {
  color: #f00;
  font-size: 0.3rem;
  width: 25%;
  text-align: center;
  line-height: 0.42rem;
}
.zhezhao .iconfont {
  font-size: 0.4rem;
  display: block;
  text-align: center;
}
